.tarot-cards-container {
    position: relative;
    width: 100%; height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tarot-cards-container .tarot-card {
    position: absolute;
    transition: all .5s ease;
    cursor: pointer;
}

.tarot-cards-container .tarot-card .front-card,
.tarot-cards-container .tarot-card .back-card {
    position: absolute;
    top: 0;
    width: 100%; height: 100%;
}

.tarot-cards-container .tarot-card .front-card {
    display: none;
}

/* CUT */
/* Conteneur de cartes */
.tarot-cards-container-cut {
    margin-bottom: 2em;
    flex-direction: column-reverse;
}
/* Carte */
.tarot-cards-container-cut .block-cards-cut .tarot-card {
    position: relative;
    cursor: default;
}
.tarot-cards-container-cut .block-cards-cut {
    margin-top: 1em;
    display: flex;
}
.tarot-cards-container-cut .block-cards-cut .tarot-card:first-of-type {
    transform: translateX(-15px);
}
.tarot-cards-container-cut .block-cards-cut .tarot-card:last-of-type {
    transform: translateX(15px);
}
/* Interprétation */
.tarot-cards-container-cut .block-interpretation {
    width: 100%;
    height: 100%;

    margin-top: 1em;
    padding: 10px;

    background-color: rgba(0, 0, 255, 0.21);
}
.tarot-cards-container-cut .block-interpretation p {
    margin-bottom: 1em;
}
.tarot-cards-container-cut .block-interpretation h4 {
    margin-bottom: .5em;
}

/* Draw Globals */

/* Interprétation */
.block-interpretation {
    width: 100%;
    height: 100%;

    margin-top: 1em;
    padding: 10px;

    background-color: rgba(0, 0, 255, 0.21);
}
.block-interpretation p {
    margin-bottom: 1.5em;
}
.block-interpretation h4 {
    margin-bottom: .2em;
}

.tarot-cards-container .domaine {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: cornflowerblue;
    border-radius: 5px;
}
.tarot-cards-container .draw-domaine-icone {
    font-size: 1.2em;
}
.tarot-cards-container .draw-domaine-text {

}
.tarot-cards-container .draw-domaine-position {
    background-color: rgba(0, 0, 255, 0.4);
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
}

/* DRAW CROSS */
/* Conteneur général #cardMap.draw-cross */
.draw-cross {}
/* Conteneur de cartes */
.tarot-cards-container-draw-cross {
    flex-direction: column-reverse;
}
/* Carte */
.tarot-cards-container-draw-cross .block-cards-draw {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}

.tarot-cards-container-draw-cross .tarot-card {
    position: relative;
    cursor: default;
}

.tarot-cards-container-draw-cross .tarot-card:nth-of-type(1) {
    transform: translateX(100%) translateY(100%);
}

.tarot-cards-container-draw-cross .tarot-card:nth-of-type(2) {
    transform: translateX(200%) translateY(100%);
}

.tarot-cards-container-draw-cross .tarot-card:nth-of-type(3) {
}

.tarot-cards-container-draw-cross .tarot-card:nth-of-type(4) {
    transform: translateX(-100%) translateY(200%);
}

.tarot-cards-container-draw-cross .tarot-card:nth-of-type(5) {
    transform: translateX(-200%) translateY(100%);
}

/* DRAW DAY */
/* Conteneur général #cardMap.draw-day */
.draw-day {}
/* Conteneur de cartes */
.tarot-cards-container-draw-day {
    flex-direction: column-reverse;
}
/* Carte */
.tarot-cards-container-draw-day .tarot-card {
    position: relative;
    cursor: default;
}

/* DRAW year */
/* Conteneur général #cardMap.draw-year */
.draw-year {}
/* Conteneur de cartes */
.tarot-cards-container-draw-year {
    flex-direction: column;
}
/* Carte */
.tarot-cards-container-draw-year .tarot-card {
    position: relative;
    cursor: default;
    display: flex;
    flex-direction: column;

    margin-bottom: 1em;
    padding: 1em;

    background-color: rgba(0, 0, 255, 0.21);
}
.tarot-cards-container-draw-year .tarot-card img {
    max-width: 5em;
}

.tarot-cards-container-draw-year .tarot-card .domaine {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 255, .4);
    width: 100%;
    align-self: end;
    text-align: center;
    line-height: 3em;
    margin-bottom: 1em;
}

.tarot-cards-container-draw-year .tarot-card .domaine .draw-domaine-text {
    padding-right: 10px;
}
.tarot-cards-container-draw-year .tarot-card .domaine .draw-domaine-icone {
    width: 3em;
    background-color: rgba(0, 0, 255, .8);
}

/* DRAW spread */
/* Conteneur général #cardMap.draw-spread */
.draw-spread {}
/* Conteneur de cartes */
.tarot-cards-container-draw-spread {
    flex-direction: column-reverse;
}

.tarot-cards-container-draw-spread .block-cards-draw {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: 100px !important;
    flex-wrap: wrap;
    justify-content: center;
}

/* Carte */
.tarot-cards-container-draw-spread .tarot-card {
    position: relative;
    cursor: default;
}
